<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="titulo"/> </title>
	<meta charset="utf-8" />
	<ui:insert name="header"/>
	<link rel="stylesheet" href="#{request.contextPath}/css/tema.css" />
</h:head>
<h:body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Usuário" url="/usuario/" icon="fa fa-graduation-cap"/>
			<p:menuitem value="Perfil" url="/perfil/" icon="fa fa-graduation-cap"/>
			<p:menuitem value="Permissão" url="/permissao/" icon="fa fa-graduation-cap"/>
			<p:menuitem value="Sair" action="#{authenticationContext.logout}" icon="fa fa-arrow-circle-right"/>
		</p:menubar>
	</h:form>
	<ui:insert name="principal" />
</h:body>
</html>
