<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>
	
	<p:panel header="Cadastro de Permissão" >
		
		<p:panelGrid columns="2" style="margin-bottom:10px;">
			<h:outputLabel value="Nome:"/>
			<p:inputText value="#{permissaoBean.obj.nome}" size="30"/>
			<h:outputLabel value="Ativo:" rendered="#{permissaoBean.obj.id ne 0}"/>
			<p:selectBooleanCheckbox value="#{permissaoBean.obj.ativo}" rendered="#{permissaoBean.obj.id ne 0}"/>
		</p:panelGrid>
		
		<p:commandButton value="Salvar" icon="salvar-icon" action="#{permissaoBean.salvarEVoltar}"
			update="permissao_form"/>
		<p:commandButton value="Voltar" icon="voltar-icon" action="#{permissaoBean.voltarPaginaListagem}"
			update="permissao_form" style="margin-left:8px;"/>
		
	</p:panel>
	

</html>