<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>

	<p:panel header="Lista de Perfis" >
	
		<p:commandButton value="Novo Perfil" icon="adicionar-icon"
			action="#{perfilBean.carregarAcaoInserir}" 
			update="perfil_form"/>
			
		<p:dataTable value="#{perfilBean.dataModel}" var="perfil"
			paginator="true" rows="10" lazy="true" paginatorAlwaysVisible="false" 
			paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}   Foram encontrados #{perfilBean.dataModel.rowCount} registros."
            paginatorPosition="bottom"
            rowsPerPageTemplate="10,20,30" emptyMessage="Sem registros encontrados"
            style="width:70%; margin-top:10px;">
			<p:column headerText="Nome" width="250">
				<h:outputText value="#{perfil.nome}"/>
			</p:column>
			<p:column headerText="Ativo" width="80">
				<h:outputText value="#{perfil.ativo ? 'Sim' : 'Não'}"/>
			</p:column>
			<p:column headerText="Ações" width="50">
				<p:commandButton icon="editar-icon" action="#{perfilBean.carregarAcaoEditar(perfil)}"
					update=":perfil_form"/>
			</p:column>
		</p:dataTable>
		
	</p:panel>

</html>







