<ui:composition
	template="/pages/layout/template.xhtml"
 	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Perfil</ui:define>
	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>
	
	<ui:define name="principal">
		<h:form id="perfil_form">
			<p:growl />
			<h:panelGroup rendered="#{perfilBean.paginaFormulario}" layout="block">
				<ui:include src="/pages/perfil/perfil_formulario.xhtml" />
			</h:panelGroup>
			<h:panelGroup rendered="#{perfilBean.paginaListagem}" layout="block">
				<ui:include src="/pages/perfil/perfil_lista.xhtml" />
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>
