<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>
	
	<p:panel header="Cadastro de Perfil" >
		
		<p:panelGrid columns="2" style="margin-bottom:10px;">
		
			<h:outputLabel value="Nome:"/>
			<p:inputText value="#{perfilBean.obj.nome}" size="30"/>
			<h:outputLabel value="Ativo:" rendered="#{perfilBean.obj.id ne 0}"/>
			<p:selectBooleanCheckbox value="#{perfilBean.obj.ativo}" rendered="#{perfilBean.obj.id ne 0}"/>
			
		</p:panelGrid>
		
		<p:fieldset legend="Lista de Permissões" style="margin-bottom:10px;">
			
			<p:selectOneMenu value="#{perfilBean.permissao}" converter="entityConverter">
				<f:selectItem itemLabel=" -- Selecione -- " />
				<f:selectItems value="#{permissaoBean.todasPermissoes}" var="p" itemLabel="#{p.nome}" itemValue="#{p}"/>
			</p:selectOneMenu>
			
			<p:commandButton icon="salvar-icon" action="#{perfilBean.adicionarPermissao}"
			update="perfil_form" style="top: -8px;"/>
			
		
			<p:dataTable value="#{perfilBean.obj.permissoes}" var="permissao"
				emptyMessage="Sem registros encontrados"
				style="width:70%; margin-top:10px;">
				<p:column headerText="Nome" width="250">
					<h:outputText value="#{permissao.nome}"/>
				</p:column>
				<p:column headerText="Ações" width="50">
					<p:commandButton icon="excluir-icon" action="#{perfilBean.removerPermissao(permissao)}"
						update=":perfil_form"/>
				</p:column>
			</p:dataTable>
		
		</p:fieldset>
		
		<p:commandButton value="Salvar" icon="salvar-icon" action="#{perfilBean.salvarEVoltar}"
			update="perfil_form"/>
		<p:commandButton value="Voltar" icon="voltar-icon" action="#{perfilBean.voltarPaginaListagem}"
			update="perfil_form" style="margin-left:8px;"/>
		
	</p:panel>
	

</html>