.salvar-icon{background: url("icons/salvar.png") !important;}
.voltar-icon{background: url("icons/voltar.png") !important;}
.adicionar-icon{background: url("icons/adicionar.png") !important;}
.editar-icon{background: url("icons/editar.png") !important;}
.excluir-icon{background: url("icons/excluir.png") !important;}
.cursos-icon{background: url("icons/cursos.png") !important;}
.cancelar-icon{background: url("icons/cancelar.png") !important;}

.ui-growl{
	top: 10%;
	left: 40%;
}
