<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>

	<p:panel header="Lista de Usuarios" >
	
		<p:commandButton value="Novo Usuario" icon="adicionar-icon"
			action="#{usuarioBean.carregarAcaoInserir}" 
			update="usuario_form"/>
			
		<p:dataTable value="#{usuarioBean.dataModel}" var="usuario"
			paginator="true" rows="10" lazy="true" paginatorAlwaysVisible="false" 
			paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}   Foram encontrados #{usuarioBean.dataModel.rowCount} registros."
            paginatorPosition="bottom"
            rowsPerPageTemplate="10,20,30" emptyMessage="Sem registros encontrados"
            style="width:70%; margin-top:10px;">
			<p:column headerText="Nome" width="250">
				<h:outputText value="#{usuario.nome}"/>
			</p:column>
			<p:column headerText="Login">
				<h:outputText value="#{usuario.login}"/>
			</p:column>
			<p:column headerText="Email">
				<h:outputText value="#{usuario.email}"/>
			</p:column>
			<p:column headerText="Perfil">
				<h:outputText value="#{usuario.perfil.nome}"/>
			</p:column>
			<p:column headerText="Ativo" width="80">
				<h:outputText value="#{usuario.ativo ? 'Sim' : 'Não'}"/>
			</p:column>
			<p:column headerText="Ações" width="50">
				<p:commandButton icon="editar-icon" action="#{usuarioBean.carregarAcaoEditar(usuario)}"
					update=":usuario_form"/>
			</p:column>
		</p:dataTable>
		
	</p:panel>

</html>







