<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="header">
		<meta charset="utf-8" />
	</ui:define>
	
	<p:panel header="Cadastro de Usuario" >
		
		<p:panelGrid columns="2" style="margin-bottom:10px;">
			<h:outputLabel value="Nome:"/>
			<p:inputText value="#{usuarioBean.obj.nome}" size="30"/>
			<h:outputLabel value="Email"/>
			<p:inputText value="#{usuarioBean.obj.email}" size="30" validatorMessage="Email inválido!"/>
			<h:outputLabel value="Perfil:"/>
			<p:selectOneMenu value="#{usuarioBean.obj.perfil}" converter="entityConverter">
				<f:selectItem itemLabel=" -- Selecione -- " />
				<f:selectItems value="#{perfilBean.todosPerfis}" var="p" itemLabel="#{p.nome}" itemValue="#{p}"/>
			</p:selectOneMenu>			
			<h:outputLabel value="Ativo:" rendered="#{usuarioBean.obj.id ne 0}"/>
			<p:selectBooleanCheckbox value="#{usuarioBean.obj.ativo}" rendered="#{usuarioBean.obj.id ne 0}"/>
		</p:panelGrid>
		
		<p:commandButton value="Salvar" icon="salvar-icon" action="#{usuarioBean.salvarEVoltar}"
			update="usuario_form"/>
		<p:commandButton value="Voltar" icon="voltar-icon" action="#{usuarioBean.voltarPaginaListagem}"
			update="usuario_form" style="margin-left:8px;"/>
		
	</p:panel>
	

</html>