<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="REFRESH" content="0;url=usuario/"/>
    </h:head>
    <h:body>

    </h:body>
</html>